# Build
target/
*/target/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env

# Archives
*.zip

# Maven Wrapper (KEEP these - do NOT ignore)
# .mvn/
# mvnw
# mvnw.cmd

# Node (if any frontend later)
node_modules/

# Docker
*.tar

# Temporary files
*.tmp

# Ignore all services initially (since you're pushing in parts)
account-service/
common-library/
config-service/
discovery-service/
intelligence-service/
workspace-service/

# test files
*/src/test/
